:root {
  --normal-black: #000;
  --normal-white: #FFF;
  --roman-red: #CD0000;
  --scottish-blue: #0065bd;
  --scottish-purple: #871F78;
  --scottish-water: #004b84;
  --scottish-loch: #6693b5;
  --scottish-glen: #99b7ce;
  --scottish-sky:#ccdbe6;
  --eleganBlue: #427ed1;
  --lighter-blue: #4c8be0;
  --darker-yellow: #ffaf00;
  --coral-red: #FF7F50;
  --emerald-green: #00C957;
  --slate-blue: #7171C6;
  --medium-purple: #8968CD;
  --midnight-blue: #191970;
  --aqua: #00FFFF;
  --ruby-red: #e0115f;
  --scarlet-red: #ff2400;
  --JavaScript-yellow: #F5D733;
  --elegantGrey: #3e3e3e;
  --lightGrey: #4d4d4f;
  --navy-blue: rgb(0, 22, 51);
  --lime-green: rgb(166, 207, 66);
  --midnight-blue: #191970;
  --forest-green: #228B22;
  --whole-foods-green: #00674b;
  --recycling-green: #009900;
  --pine-green: #01796F;
  --cognac-brown: #834333;
  --pine-gold: #dab970;
  --linen-white: #E9DCC9;
  --olive-green: #808000;
  --dark-green: #006400;
  --pizza-red: #D62828;
  --pizza-yellow: #F7C531;
  --pizza-green: #3A5A40;
  --pizza-beige: #F4E1C1;
  --pizza-dark: #2E2E2E;
  --elegant-black: #181818;
  --smart-grey: #eeeae7;
  --smart-white: #eeeeec;
  --wolf-orange: #e06c19;
  --sword-red: #ff0036;
  --footer-grey: #595959;
  --licorice-black: #1B1212;
  --tricsy-grey:#595959;
  --tricsy-gold: #e6c300;
  --tricsy-navy: #133854;
  --tricsy-alabaster: #EDEADE;
  --tricsy-new-century-gold: #866D4B;
}

/* DEFAULT CLASSES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

li {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Host Grotesk", sans-serif;
  font-style: normal;
  background-color: var(--normal-black);
  color: var(--normal-white);
  position: relative;
}

/* ALL PURPOSE CLASSES */

.flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.hide {
  display: none;
}

.blur {
  filter: blur(8px);
}

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* ALL CSS HERE */

.ProfileCard {
  height:100vh;
  background-color: navy;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.ProfileCard .box:active {
  transition: transform 1s;
}

.ProfileCard .box {
  position: relative;
  max-width: 320px;
  height: 500px;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 30px;
  padding: 2em 0em 2em 0em;
  transition: 0.5s;
}

.ProfileCard .box:hover {
  transform: translateY(-40px);
}

.ProfileCard .box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
}

.ProfileCard .box:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(30px);
}

/* Card 1: Alice - Deep Ocean */
.ProfileCard .box:nth-child(1)::before,
.ProfileCard .box:nth-child(1)::after {
  background: linear-gradient(315deg, #001f3f, #0074D9);
}

/* Card 2: Bob - Fire & Ash */
.ProfileCard .box:nth-child(2)::before,
.ProfileCard .box:nth-child(2)::after {
  background: linear-gradient(315deg, #FF4136, #3D0000);
}

/* Card 3: Charlie - Medical Green */
.ProfileCard .box:nth-child(3)::before,
.ProfileCard .box:nth-child(3)::after {
  background: linear-gradient(315deg, #00A389, #4CC552);
}

/* Card 4: David - Earth & Sun */
.ProfileCard .box:nth-child(4)::before,
.ProfileCard .box:nth-child(4)::after {
  background: linear-gradient(315deg, #A0522D, #FFD700);
}

/* Card 5: Eva - Blueprints & Steel */
.ProfileCard .box:nth-child(5)::before,
.ProfileCard .box:nth-child(5)::after {
  background: linear-gradient(315deg, #4682B4, #D3D3D3);
}

.ProfileCard .box:active {
  transform: scale(1.7);
  z-index: 100;
}

.ProfileCard .box span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.ProfileCard .box span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.ProfileCard .box .content {
  position: relative;
  z-index: 3;
  padding: 20px 40px;
  text-align: center;
}

.ProfileCard .box .content h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.ProfileCard .box .content p {
  font-size: 1.1em;
  color: var(--normal-white);
  margin-bottom: 10px;
  line-height: 1.4em;
}

.ProfileCard .box .content a {
  display: block;
  width: 90px;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 0px 5px 0px 5px;
  font-weight: 700;
  border-radius: 5px;

}

.ProfileCard .box .content > img {
  max-width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.ciao {
  display: flex;
  justify-content: center;
  width: 100%;
}